# your telegram bot token
export BOT_TOKEN="8521208835:AAFvkn7pvZEDNn7Xoj0sLek-th1sjVpfuxs"

# your telegram chatroom's id
# in bot api
export CHAT_ID="-5236472569"

# your local kernel dir
export KDIR=kernel

# your kernel's git repo
kernel_repo="https://github.com/pix106/android_kernel_xiaomi_sdm660_southwest-ng"

# the branch you want to use in the repo above
kernel_branch="main-cip-dynamic"

# whether you want ksu patched in at build time or not
# leave blank for "no", "both" for both ksu and non ksu, anything else for "yes"
# require the patches for that version+patchlevel to be in ./ksu/patches
export PATCH_KSU="both"

# the compiler(s) to use
# those are the name of the scripts in ./toolchains, without ".sh"
export COMPILERS="AOSP-Clang"

# additional verbose info
#VERBOSE=yes
